.wdb-addons-template-edit-popup-area{position:fixed;z-index:1;top:0;left:0;display:flex;visibility:hidden;align-items:center;justify-content:center;width:100%;height:100%;padding:20px;transition:all .25s cubic-bezier(.645,.045,.355,1);transform:scale(1.1);opacity:0;background-color:rgba(0,0,0,.8)}.wdb-addons-template-edit-popup-area.open-popup{visibility:visible;opacity:1;transform:scale(1)}.wdb-addons-template-edit-popup-area.open-popup .wdb-addons-body-overlay{opacity:1;visibility:visible}.wdb-addons-body-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent;opacity:0;visibility:hidden}.wdb-addons-template-edit-popup{position:relative;z-index:9;width:100%;max-width:645px;border-radius:5px;background-color:#fff}.wdb-addons-template-edit-header{display:flex;justify-content:space-between;padding:18px 50px;border-bottom:1px solid #dfe7f1}.wdb-addons-template-edit-setting-title{margin:0}.wdb-addons-template-edit-cross{cursor:pointer;color:#000;transition:.4s}.wdb-addons-template-edit-body{padding:15px 50px}.wdb-addons-template-edit-field{display:grid;grid-template-columns:1fr 2fr;margin-bottom:20px;align-items:center}.wdb-addons-template-edit-field label{font-weight:600}.wdb-addons-template-edit-field .wdb-addons-template-edit-input{border:1px solid #d3dbe7;padding:5px 10px;border-radius:5px;background-color:#f8fbff;font-size:15px;color:#656565}.wdb-addons-template-edit-field .select2-container--default .select2-selection--multiple{border:1px solid #d3dbe7;padding:8px 10px;border-radius:5px;background-color:#f8fbff;font-size:15px;color:#656565}.wdb-addons-template-edit-field.hidden{display:none}.wdb-addons-template-edit-footer{padding:15px 50px}.wdb-addons-template-edit-footer .wdb-addons-template-button-group{display:flex;flex-wrap:wrap;justify-content:flex-end;gap:20px}.wdb-tmp-status-switch .post-status{font-size:14px;font-weight:600} .wdb-addons-tmp-save.button.button-primary {
    background: #9bee68;
    border-color: #9bee68;
    color: #2e7400;
    text-decoration: none;
    text-shadow: none;
    padding: 8px 20px;
    border-radius: 40px;
}

.wdb-addons-tmp-save.button.button-primary:hover {
    background: #85d85a; /* Slightly darker green for hover */
    border-color: #85d85a; /* Match the border color with the background */
    color: #1f5600; /* Darker shade of green for the text on hover */
    text-decoration: none;
    text-shadow: none;
}
.wdb-addons-tmp-elementor.button {
    color: #000000;
    border-color: #f0abfc;
    background: #f0abfc;
    vertical-align: top;
    padding: 8px 20px;
    border-radius: 40px;
}

.wdb-addons-tmp-elementor.button:hover {
    color: #ffffff; /* Change text color to white on hover */
    border-color: #d98be6; /* Slightly darker border color on hover */
    background: #d98be6; /* Slightly darker background on hover */
}
